<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    
	<title></title>
    <script type="text/javascript">
	var ua = window.navigator.userAgent.toLowerCase();
	window.onload = function(){
		if(isWeiXin()){
			wxjspay();
		}
		if(isAli()){
			alijspay();
//alert('123123');
		}
	}
	function isWeiXin(){
		if(ua.match(/MicroMessenger/i) == 'micromessenger'){
			return true;
		}else{
			return false;
		}
	}
	function isAli(){
		if(ua.match(/AlipayClient/i) == 'alipayclient'){
			return true;
		}else{
			return false;
		}
	}
	<php>if(!empty($jsApiParameters)){</php>
	function jsApiCall() {
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			<{$jsApiParameters}>,
			function (res) {
				if (res.err_msg == "get_brand_wcpay_request:ok") {

					location.href = "<php>echo C('AD_HOST');</php>";

				} else {
					alert("错误代码："+res.err_code+"\n错误信息:"+res.err_desc);
					WeixinJSBridge.call('closeWindow');
				}
			}
	);
	}

	function wxjspay() {
		if (typeof WeixinJSBridge == "undefined") {
			if (document.addEventListener) {
				document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			} else if (document.attachEvent) {
				document.attachEvent('WeixinJSBridgeReady', jsApiCall);
				document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			}
		} else {
			jsApiCall();
		}
	}
	<php>}</php>
	function alijspay(){
		document.addEventListener('AlipayJSBridgeReady',function(){
		var trade_no = '<{$out_trade_no}>';
				AlipayJSBridge.call("tradePay", {
					tradeNO: trade_no
				}, function (result) {
					window.location.href ="<php>echo C('AD_HOST1');</php>";
				});
		},false);
	}
	</script>
	
</head>
</html>